# Credenciales del servidor Linux
SERVER_HOST=192.168.0.x
SERVER_USER=root
SERVER_PASS=
SERVER_PATH=/opt/app-mati/chekin_tokens_mati.json

# Credenciales Chekin.io (opcional — si no se ponen, login es manual)
CHEKIN_EMAIL=
CHEKIN_PASSWORD=
